.router {
    width: 100%;
    background-color: lightblue;
    display: flex;
    flex-direction: row;
}

nav {
    background-color: lightgreen;
    width: 20%;
    position: sticky;
    top: 0;
    height: 60rem;
}

ul {
    padding: 2rem;
    padding-top: 5rem;
    list-style: none;
}

li {
    padding: 1rem;
    font-weight: bold;
}

.content-wrapper {
    width: inherit;
    margin: 5rem;
}