form {
    padding: 2rem;
    border: 2px solid black;
    width: 40%;
    margin: auto;
}

form > * {
    padding: 0.25rem
}

form > input {
    width: 100%;
    font-size: 1.4rem;
    line-height: 1.5rem;
}